###< Dev live testing ###
/vendor/
/public/
/new/
/firebase.conf.json
/environnement.xml
/routes.xml
/security.xml
###</ Dev live testing ###

###< Default phpStorm ###
\.idea/
###</ Default phpStorm ###
